a {
    color: rgb(17, 17, 17);
    text-decoration: none;
}
body {
    background: rgb(149, 137, 158);
    line-height: 2;
}
footer {
    color: #fff;
    font-size: .7rem;
    padding: 20px;
    text-align: center;    
}
.container {
;
    margin: 10px auto;
}
.description {
    font-style: italic;    
    line-height: 3 !important;    
    text-transform: uppercase;
  }
.description, .sunrise, .sunset, .humidity, .wind, .forecast-temperature, .date-time {
    color: #5b3bad;
}
.forecast {
    font-size: 18px;
     text-align: center;   
}
.forecast-temperature {
    font-size: 14px;
}
.icon {
    left: -18px;    
    position: relative;
    top: -28px;
}
.last-updated-wrapper {
    text-align: right;
}
.top-max-min-wrapper {
    bottom:20px;
    left: 88px;
    position: relative;
}
.sunrise-sunset-wrapper, .last-updated-wrapper {
    font-weight: 400;
    line-height: 2;
    text-align: left;
}
.temperature {
    font-size: 2.5rem;
}
.temp-max {
    font-weight: 600;
}
.units{
    font-size: 16px;
    position: relative;
    top: -20px;
  }
  .units .active {
    color: rgb(17, 17, 17);
    font-weight: 600;
  }
.units :hover {
    color: aqua;
    cursor:pointer;
}
.weather {
    align-content: center;
    background: rgb(236, 235, 221);
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);   
    color: rgb(17, 17, 17);
    display: block;
    font-family: Helvetica,Arial,sans-serif;    
    margin: 0 auto;
    width: 685px;
    padding: 35px;    
}