body {
    background: #5b3bad;;
    line-height: 2.5;
}
footer {
    color: #fff;
    font-size: .7rem;
    text-align: center;
    padding: 20px;
}
.container {
    margin: 20px;
}
.description {
    text-transform: uppercase;
  }
.description, .sunrise, .sunset, .humidity, .wind, .forecast-temperature, .date-time {
    color: #5b3bad;
}
.forecast-temperature {
    font-size: 12px;
}
.icon {
    position: relative;
    top: -28px;
    left: -18px;
}
.last-updated-wrapper {
text-align: right;
}
.top-max-min-wrapper {
position: relative;
left: 50px;
}
.sunrise-sunset-wrapper, .last-updated-wrapper {
    font-weight: 400;
    line-height: 2;
}
.temperature {
    font-size: 2.5rem;
}
.temp-max {
    font-weight: 600;
}
.unit{
    position: relative;
    font-size: 16px;
    top: -18px;
  }
.weather {
    align-content: center;
    background: rgb(235, 230, 190);
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);   
    color: rgb(17, 17, 17);
    display: block;
    font-family: Helvetica,Arial,sans-serif;    
    margin: 0 auto;
    width: 700px;
    padding: 40px;   
}
