body {
    background: #5b3bad;
    color: #212529;

}
.temperature {
    font-size: 1.5rem;
}
.btn {
    background-color: #f65282;
}

.humidity, .wind, .forecast-temperature {
    color: #6ee1f8;
}
.weather {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);   
    color: #878787;
    display: block;
    font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;    
    margin: auto;
    max-width: 800px;
    min-width: 600px;
    padding: 40px;   
}
footer {
    text-align: center;
    max-width: 800px;
    min-width: 600px;
}