body {
    background: #5b3bad;
    color: #212529;

}
.container {
    margin: 20px;
}
.temperature {
    font-size: 1.5rem;
}
.humidity, .wind, .forecast-temperature {
    color: #6ee1f8;
}
.weather {
    align-content: center;
    background: rgb(235, 230, 190);
    border-radius: 16px;
    box-shadow: 0 30px 50px rgb(65 50 100 / 8%);   
    color: #878787;
    display: block;
    font-family: Helvetica,Arial,sans-serif;    
    margin: 0 auto;
    width: 500px;
    padding: 40px;   
}
footer {
    text-align: center;
    font-size: .7rem;
}